# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.pytest_cache/

# Virtual environment
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Editors
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Database
db.sqlite3
*.sqlite3

# Media files
media/

# Logs
*.log
